<a href="https://colab.research.google.com/github/PrabhaRajesh/oasis-task1/blob/main/oasis_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('/Iris.csv')

In [6]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [9]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [10]:
df = df.sample(frac=1)

In [11]:
df.reset_index(drop=True,inplace=True)

In [12]:
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,17,5.4,3.9,1.3,0.4,Iris-setosa
1,56,5.7,2.8,4.5,1.3,Iris-versicolor
2,15,5.8,4.0,1.2,0.2,Iris-setosa
3,67,5.6,3.0,4.5,1.5,Iris-versicolor
4,62,5.9,3.0,4.2,1.5,Iris-versicolor

In [13]:
X = df.iloc[:,0:4]

In [14]:
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0  17            5.4           3.9            1.3
1  56            5.7           2.8            4.5
2  15            5.8           4.0            1.2
3  67            5.6           3.0            4.5
4  62            5.9           3.0            4.2

In [15]:
Y = df.iloc[:,-1]

In [16]:
Y.head()

0        Iris-setosa
1    Iris-versicolor
2        Iris-setosa
3    Iris-versicolor
4    Iris-versicolor
Name: Species, dtype: object

In [17]:
Y.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [18]:
Y = Y.map({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2})

In [19]:
Y.head()

0    0
1    1
2    0
3    1
4    1
Name: Species, dtype: int64

In [20]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

DecisionTreeClassifier

In [21]:
dt = DecisionTreeClassifier(max_depth=100,random_state=0)
dt.fit(X_train,Y_train)
accuracy_score(Y_test,dt.predict(X_test))*100

100.0

AdaboostClassifier

In [22]:
ab = AdaBoostClassifier(n_estimators=100,learning_rate=1,random_state=0)
ab.fit(X_train,Y_train)
accuracy_score(Y_test,ab.predict(X_test))*100

100.0

SVC

In [23]:
svc = SVC(kernel='rbf',gamma=1,random_state=0)
svc.fit(X_train,Y_train)
accuracy_score(Y_test,svc.predict(X_test))*100

83.33333333333334

Logisticregression

In [24]:
lg = LogisticRegression(random_state=0)
lg.fit(X_train,Y_train)
accuracy_score(Y_test,lg.predict(X_test))*100

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

100.0